header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-block: 2rem;
  background: rgb(var(--dark-color));
  z-index: 1;
  transition: all 0.15s ease;
}

.light header {
  background: rgb(var(--light-color));
}

header > div {
  user-select: none;
  margin-inline: auto;
  width: 90%;
}

header > .wrapper > .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .heading h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(var(--primary-color));
  text-shadow: 0 0 20px rgba(var(--primary-color), 0.5);
}

.menu-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  padding: 0.25rem;
  z-index: 1;
  border-radius: 50%;
  transform: rotate(0);
  transition: all 0.15s ease;
}

.menu-icon:active {
  transform: rotate(180deg);
}

.light .menu-icon:hover {
  backdrop-filter: brightness(0.9);
}

.menu-icon:hover {
  backdrop-filter: invert(0.1);
}

.menu-icon .svg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgb(var(--light-color));
  mask: url(../../assets/menu.svg) no-repeat center;
  transition: all 0.15s ease;
  cursor: pointer;
}

.menu-icon .svg:hover {
  filter: brightness(0.8);
}

.light .menu-icon .svg:hover {
  filter: invert(0.2);
}

.light .menu-icon .svg {
  background: rgb(var(--dark-color));
  mask: url(../../assets/sun.svg) no-repeat center;
}

.modeToggler {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
  z-index: 1;
  border-radius: 50%;
  transition: all 0.15s ease;
}

.light .modeToggler:hover {
  backdrop-filter: brightness(0.9);
}

.modeToggler:hover {
  backdrop-filter: invert(0.1);
}

.modeToggler .svg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgb(var(--light-color));
  mask: url(../../assets/moon.svg) no-repeat center;
  transition: all 0.15s ease;
  cursor: pointer;
}

.modeToggler .svg:hover {
  filter: brightness(0.8);
}

.light .modeToggler .svg:hover {
  filter: invert(0.2);
}

.light .modeToggler .svg {
  background: rgb(var(--dark-color));
  mask: url(../../assets/sun.svg) no-repeat center;
}

@media screen and (max-width: 950px) {
  header {
    padding-block: 1rem;
  }

  header > .wrapper {
    flex-direction: column;
  }

  header .wrapper > .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header > div > h1 {
    margin-block: 0.5rem;
  }

  .modeToggler {
    margin-block: 0.5rem;
  }

  .text {
    min-width: 100%;
  }
}

.search {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  margin-right: 1rem;
}

.search .icons {
  margin-left: auto;
}

.search .icon {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
  scale: 0;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  transition: all 0.15s ease;
}

.search .icon.active {
  scale: 1;
  visibility: visible;
  opacity: 1;
  display: flex;
  align-items: center;
}

.text {
  scale: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  border-radius: 0.5rem;
  border: 1px solid rgb(var(--primary-color));
  padding: 1.25rem calc(0.75rem + 0.5rem);
  width: min(100%, 30rem);
  min-height: 2rem;
  box-shadow: 0 10px 20px rgba(var(--primary-color), 0.1),
    0 6px 6px rgba(var(--primary-color), 0.1),
    0 0 0 1px rgba(var(--primary-color), 0.1);
  background-color: rgb(var(--dark-color));
  transition: all 0.15s ease;
}

.text.active {
  scale: 1;
  visibility: visible;
  opacity: 1;
}

.light .text {
  background: rgb(var(--light-color));
}

.text textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  background: rgb(var(--dark-color));
  font-size: 1.25rem;
  color: inherit;
  caret-color: rgb(var(--light-color));
  transition: all 0.15s ease;
}

.light .text textarea {
  caret-color: rgb(var(--dark-color));
  background: rgb(var(--light-color));
}

.text span {
  position: absolute;
  background-color: rgb(var(--dark-color));
  font-size: 1rem;
  color: rgb(var(--primary-color));
  margin-left: 1rem;
  padding-inline: 0.5rem;
  top: -0.75rem;
  left: 0.75rem;
  border-radius: 0.25rem;
  transform: translateY(1.85rem);
  scale: 1.5;
  transition: all 0.15s ease;
}

.light .text span {
  background-color: rgb(var(--light-color));
}

.text span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0.5rem solid transparent;
  border-bottom-color: rgb(var(--primary-color));
  top: -1rem;
  left: 0.5rem;
  transform: translateY(1.85rem);
  opacity: 0;
  transition: all 0.15s ease;
}

.text textarea:focus + span {
  transform: translateY(0);
  scale: 1;
  opacity: 1;
}

.text textarea:focus + span::before {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 60rem) {
  .text {
    top: 5rem;
  }
}
